[BEGINVDF]
Comment=The Damned Mod Files%%NThe Sect Team%%N
BaseDir=..\..\..
VDFName=..\..\..\Data\ModVDF\TheDamned_Worlds.mod
[FILES]
_work\DATA\WORLDS\NIGHTMARE.ZEN -r
_work\DATA\WORLDS\WORLD.ZEN -r
[EXCLUDE]
[INCLUDE]
[ENDVDF]
